<!doctype html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>About page</title>
      
  <h2>
      Salient Financial-Product Complaint Issues For Consumers Across Companies
  </h2>
  <br>
  <br>
  
  <body>
 <p>
 This application aims to aid financial advisory firms, and their clients, by enabling consumers to explore notable complaint 
 issues, and to compare and contast their prevalence across companies that provide a given financial product or service of
 interest. Consumers interested in a particular financial product can compare complaint issues across potential companies of interest, 
 and thereby better fine-tune their dicussions and planning with financial advisors. The primary database utilzed is the U.S.  
 Federal government's Consumer Financial Protection Bureau Complaint Database (CFPB Database). 
 </p>
 <p>
 The CFPB Database logs problems or issues customers report experiencing with finanical companies, such as unexpected fees or poor 
 fraud protection, in relation to various financial products. There are some redundancies in the set of product categories in the database  
 (e.g., both 'Bank account or service', and 'Checking or savings account' listed as separate categories; therefore, the for app's analytics 
 combines categories and reducesthe original 20 to the following 9 product categories:
 </p>

<ul>
  <li>Bank_Account</li>
  <li>Consumer_Loan</li>
  <li>Credit_Reporting</li>
  <li>Debt_Collection</li>
  <li>Money_Transfer</li>
  <li>Car_Loan</li>
  <li>Mortgage</li>
  <li>Student_Loan</li>
  <li>Other</li>
</ul>  
      
      
      
      
      'Bank_Account': ['Bank account or service', 'Checking or savings account'],
         'Consumer_Loan' : ['Consumer Loan', 'Payday loan', 'Payday loan, title loan, or personal loan'],
         'Credit_Card' : ['Credit card', 'Credit card or prepaid card', 'Prepaid card'],
         'Credit_Reporting' : ['Credit reporting', 'Credit reporting, credit repair services, or other personal consumer reports'],
         'Debt_Collection' : ['Debt collection'],
         'Money_Transfer' : ['Money transfers', 'Money transfer, virtual currency, or money service', 'Virtual currency'],
         'Car_Loan' : ['Vehicle loan or lease'],
         'Mortgage' : ['Mortgage'],
         'Student_Loan' : ['Student loan'],
         'Other' : ['Other financial service']
  </body>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h4>Links</h4>
          <ul>
              <li><a href="/"> Home </a></li>
            <li><a href="/entercompanyproduct">Explore Complaint Issues</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>   
</html>