<!doctype html>
<title> consumer_complaints </title>

<div>
    <h3> Enter a financial product and up to 3 financial service companies </h3>
</div>
    


<div>
    </br>
    <form id= product method='post'>
    Product:
    <br>
    <input type='text' name='product' placeholder='Mortgage'>
</div>

<div>
    <form id='company_1' method='post'>
    Company name:
    <br>
    <input type='text' name='company_1' placeholder='BANK OF AMERICA, NATIONAL ASSOCIATION'>
</div>
    
<div>
    <form id='company_2' method='post'>
    Company name:
    <br>
    <input type='text' name='company_2' placeholder='WELLS FARGO & COMPANY'>
</div>
    
<div>
    <form id='company_3' method='post'>
    Company name:
    <br>
    <input type='text' name='company_3' placeholder='NATIONSTAR MORTGAGE'>
</div>

<div>
     <form id = 'enter_button' method = 'post'>
     <input type='submit' value='Enter' />
</div>