<!doctype html>
<title> consumer_complaints </title>

<div>
    <h3> Enter a financial service company and a financial product </h3>
</div>
    
<div>
    <form id='company_name' method='post'>
    Company name:
    <br>
    <input type='text' name='company_name' placeholder='WELLS FARGO & COMPANY'>
</div>

<div>
    </br>
    <form id= product method='post'>
    Product:
    <br>
    <input type='text' name='product' placeholder='Mortgage'>
</div>

<div>
     <form id = 'enter_button' method = 'post'>
     <input type='submit' value='Enter' />
</div>