 
<html>
    <head>
 <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.4.min.css"
    rel="stylesheet" type="text/css">
    </head>
   


    
<body>   
{{ score1 }}   
<br>
{{ score2 }}
<br>
{{ score3 }}
<br>
<br>
  

{{ div|safe }}
{{ script|safe }}
    
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.4.min.js"></script>
</body>   

  

    

<br>
<br>
<br/>
{{ data1|safe }}
<br>
{{ data2|safe }}
<br>
{{ data3|safe }}

   
</html>


    